/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", "Helvetia Neue", Helvetica, sans-serif;
    color: $color-brand;
    font-weight: 200;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1), 0 1px #fff;
}

h1,
.alpha {
    @include font-size(36px);

    @include media-query(lap-and-up) {
        @include font-size(64px);
    }

    @include media-query(desk) {
        @include font-size(64px);
    }

}

h2,
.beta {
    @include font-size(28px);

    @include media-query(lap-and-up) {
        @include font-size(36px);
    }

}

h3,
.gamma {
    @include font-size(24px);

    @include media-query(lap-and-up) {
        @include font-size(28px);
    }

}

h4,
.delta {
    @include font-size(18px);

    @include media-query(lap-and-up) {
        @include font-size(24px);
    }

}

h5,
.epsilon {
    @include font-size(16px);

    @include media-query(lap-and-up) {
        @include font-size(18px);
    }

}

h6,
.zeta {
    @include font-size(16px);
}





/**
 * Bold elements.
 */
a,
b, strong,
dt {
    font-weight: 700;
}





/**
 * Links
 */
a {
    color: $color-brand;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }

}





/**
 * Lists
 */
li {

    > ul,
    > ol {
        margin-bottom: 0;
    }

}





/**
 * Code
 */
code, kbd, samp {
    color: #859900;
    font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

pre {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    padding: halve($spacing-unit);
    background-color: #333;
    border-radius: 3px;

    &,
    code, kbd, samp {
        color: #fff;
    }

}





/**
 * Rules
 */
hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: $spacing-unit - 1px;
}

.hr-minor {
    width: 50%;
    margin-right: auto;
    margin-left:  auto;
}

.hr-major {
    border-top-width: 5px;
    margin-bottom: $spacing-unit - 5px;
}
