/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
    display: block;
    @extend %margin-bottom;
    margin-right: auto;
    margin-left:  auto;
}

    .logo__character {
        fill: $color-brand;
    }

    .logo__punctuation {
        fill: lighten($color-brand, 25%);
    }
