/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
    padding-top:    10%;
    padding-bottom: 10%;
    background-color: $color-brand;
    margin-bottom: 2 * $spacing-unit;
}
