/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    font-weight: 700;
}

.btn--secondary {
    background: none;

    &,
    &:hover,
    &:active,
    &:focus {
        color: $color-brand;
    }

}
