/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

.wrapper {
    max-width: 48em;
    margin-right: auto;
    margin-left:  auto;
    padding-right: $spacing-unit;
    padding-left:  $spacing-unit;
}
