/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Global...............Globally-available variables and settings/config.
 * Colors...............Manage our color palette in isolation.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 * Aliases..............Aliases onto longer inuitcss variables and mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 * Box-sizing...........Better default `box-sizing`.
 * Shared...............Sensibly and tersely share global commonalities.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Headings.............Heading styles
 * Type.................Typographical type selectors.
 * Images...............inuitcss images
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header
 * Logo.................CSS Guidelines’ logo
 *
 * TRUMPS
 * Hide.................Accessibly hide text
 */

@import "bower_components/inuit-defaults/settings.defaults";
@import "settings.global";
@import "settings.colors";
@import "bower_components/inuit-responsive-settings/settings.responsive";

@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.aliases";

@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";

@import "bower_components/inuit-page/base.page";

html {
    font-family: Georgia, serif;
    background-color: #fafafa;
}

$inuit-heading-size-1:  48px !default;
$inuit-heading-size-2:  36px !default;
$inuit-heading-size-3:  28px !default;
$inuit-heading-size-4:  24px !default;
$inuit-heading-size-5:  18px !default;
$inuit-heading-size-6:  16px !default;
@import "bower_components/inuit-headings/base.headings";
@import "base.type";
@import "bower_components/inuit-images/base.images";

@import "objects.wrappers";

@import "components.page-head";
@import "components.logo";

@import "trumps.hide";
