/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Global...............Globally-available variables and settings/config.
 * Colors...............Manage our color palette in isolation.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Aliases..............Aliases onto longer inuitcss variables and mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 * Box-sizing...........Better default `box-sizing`.
 * Shared...............Sensibly and tersely share global commonalities.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Headings.............Heading styles
 * Images...............inuitcss images
 *
 * OBJECTS
 *
 * COMPONENTS
 * Logo.................CSS Guidelines’ logo
 *
 * TRUMPS
 *
 */

@import "bower_components/inuit-defaults/settings.defaults";
@import "settings.global";
@import "settings.colors";

@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "tools.aliases";

@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";

@import "bower_components/inuit-page/base.page";

html {
    font-family: Georgia, serif;
    padding: $spacing-unit;
}

@import "bower_components/inuit-headings/base.headings";

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

@import "bower_components/inuit-images/base.images";

a {
    color: $color-brand;
}

@import "components.logo";
