@charset "UTF-8";
/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Global...............Globally-available variables and settings/config.
 * Colors...............Manage our color palette in isolation.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 * Aliases..............Aliases onto longer inuitcss variables and mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 * Box-sizing...........Better default `box-sizing`.
 * Shared...............Sensibly and tersely share global commonalities.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Headings.............Heading styles.
 * Type.................Typographical type selectors.
 * Lists................inuitcss’ lists defaults.
 * Images...............inuitcss images.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 * Buttons..............inuitcss button object.
 * Box..................inuitcss box object.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Logo.................CSS Guidelines’ logo.
 * Buttons..............Our extension of inuitcss’ buttons.
 * Boxes................Our extension of inuitcss’ box object.
 * Ad...................Carbon Ads.
 *
 * TRUMPS
 * Clearfix.............Simple clearfix helper.
 * Hide.................Accessibly hide text.
 * Text.................Text helpers.
 * Print................Make the Guidelines printable.
 */

@import "settings.global";
@import "settings.colors";

$inuit-base-background-color:   $color-background;
$inuit-base-text-color:         $color-text;
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";

@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.aliases";

@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";

@import "bower_components/inuit-page/base.page";

html {
    font-family: Merriweather, Georgia, serif;
    font-weight: 300;
    background-color: #fafafa;
}

@import "base.type";
@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-images/base.images";

@import "objects.wrappers";

$inuit-enable-btn--full:    true;
$inuit-btn-background:      $color-brand;
$inuit-btn-border-width:    2px;
@import "bower_components/inuit-buttons/objects.buttons";

@import "bower_components/inuit-box/objects.box";

@import "components.page-head";
@import "components.page-foot";
@import "components.logo";
@import "components.buttons";
@import "components.boxes";
@import "components.ad";

@import "bower_components/inuit-clearfix/trumps.clearfix";
@import "trumps.hide";
@import "trumps.text";
@import "utilities.print";
