<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="description" content="{{ site.description }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
<body>

<div class="header">
    <img src="/img/logo.svg" alt="logo" style="display: block; margin: 0 auto;" />
</div>

<div style="max-width: 40em; margin: 0 auto;">

    {{ content }}

    <p>&copy; 2014 Harry Roberts</p>

</div>

</body>
</html>
